html
{
	background:url(img/redcar.jpg) no-repeat center fixed;
	background-size:cover;
}
body
{
	margin:0;
}
.header
{
	min-height:355px;
	width:100%;
    position: relative;
}
.triangle1
{
	position:absolute;
	border-right: 1187px solid transparent;
	border-top:300px solid white;
	left:0px;
	top:0px;
	opacity:0.8;
}
.triangle1in
{
	position:absolute;
	border-right: 733px solid transparent;
	border-top:150px solid #000000;
	left:0px;
	top:0px;
}
.triangle2
{
	position:absolute;
	border-left: 1000px solid transparent;
	border-top:200px solid #bf4c4c;
	right:0px;
	top:0px;
	opacity:0.9;
}
.titlename
{
	position:relative;
	font-family: 'Bungee Inline';
	font-size:80px;
	transform: rotate(-14.1deg);
	top:-80px;
    left:-20px;
}
.log_in
{
	position:absolute;
	font-family: 'Bungee Inline';
	font-size:20px;
	right:0px;
	top:0px;
    text-align: center;
    width:250px;
    box-sizing: border-box;
    background-color: black;
    border-bottom-left-radius: 40%;
    height:270px;
    color:white;
}
input[type=text],input[type=password]
{
    width:180px;
    padding:5px;
    border-radius:7px;
    background: #dddddd;
}
input[type=text]:focus,input[type=password]:focus
{
    transform: scale(1.05);
}
input[type=submit]
{
    background-color: #bf4c4c;
    color: black;
    font-family: 'bungee inline';
    width:180xp;
    border-radius: 5px;
    margin-top:20px;
    width:150px;
    font-size: 17px;
    padding:0px;
}
#link1
{
    text-decoration: none;
    color: #bf4c4c;
}
#link1:hover
{
    color: #9d2a2a;
}
.nav_bckg
{
	position:absolute;
	height:355px;
	width:100%;
	background-color:white;
	top:0;
	left:0px;
	z-index:-1;
	margin:0;
	opacity:0.4;
}
.nav
{
	position:relative;
	width:100%;
	text-align: center;
	padding:0;
	margin:0;
	top:74px;
}
ol
{
	list-style-type: none;
	z-index:50;
	line-height:200%;
	margin:0;
	padding:0;
	font-size:25px;
	height:50px;
    display: inline-block;
}
ol a
{
	text-decoration:none;
	display:block;
	font-family: 'Bungee Inline';
	color:black;
}
ol > li
{
	width:250px;
    float: left;
}
ol a:hover
{
	transform: scale(1.1);
}
ol>li>ul
{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    display: none;
    font-family: 'bungee inline';
    background-color:rgba(255, 255, 255, 0.53);
    border-radius: 5px;
}
ol > li:hover > ul
{
    display: block;
}
ol>li>ul>li
{
    position: relative;
    z-index: 100;
    margin: 3px;
    width:250px;
}
#logo
{
   transition: 0.3s trasfer;
}
#logo:hover
{
   transform: scale(1.3);
}
#main
{
	width: 1600px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 15px;
}
h1
{
    font-family: 'bungee inline';
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 70px;
    background-color: rgba(191, 76, 76, 0.96);
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
}
#img1
{
    float:left;
    margin-right: 5px;
    border-radius: 15px;
    margin-left: 10px;
}
#content1
{
    color:white;
    font-family: 'Chela One', cursive;
    font-size:30px;
    font-weight:400;
    padding-top:60px;
    margin-right: 10px;
}
h2
{
    color: white;
    font-family: 'bungee inline';
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 100px;
}
#content2
{
    color:white;
    font-family: 'Chela One', cursive;
    font-size:30px;
    text-align: left;
    padding-left: 70px;
    max-width: 500px;
    float:left;
}
#img2
{
    width:980px;
    margin-right: 10px;
    float:right;
    border-radius: 15px;
    margin-bottom: 20px;
}
.navbox
{
    position: relative;
    width:50%;
    height:326px;
    display: table;
    float: left;
    transition: 0.25s;
    text-align: center;
    margin-left: 1x;
}
.navbox:hover
{
    filter: grayscale(100%);
}
.navbox a
{
    color: #FFF;
    font-size: 40px;
    text-decoration: none;
    width: 100%;
    font-family: 'bungee inline';
    display: table-cell;
    vertical-align: middle;
}
.navbox a:hover
{
    transform: scale(1.2);
    transition: 0.25s;
}
#last_stop
{
    height: 100px;
}
#footer
{
    background-color:#bf4c4c;
    text-align: center;
    height: 50px;
    font-size: 19px;
    font-family: 'bungee inline';
}
